{% extends "formLayout.html" %}
{% block content %}
<form method="POST" action="">
    <div class="text-center mb-4">
        {{ form.hidden_tag() }}
        <!-- image and top info -->
        <a href="{{ url_for('home') }}">
        <img class="mb-4" src="{{ url_for('static',filename='img/simpleLogo.png')}}" alt="logo image" width="82"
             height="82">
        </a>
        <h1 class="h3 mb-3 font-weight-normal">Sign in to HitMe</h1>
        <p>Get your own playlist using our easy and<br> beautiful interface at <code>HitMe App</code> with just a click.
        </p>
        <div >
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages: %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="form-label-group">
            {{ form.username(class="form-control form-control-lg") }}

            {% if form.username.errors %}
                {{ form.username.label(class="form-control-label text-muted is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{  error }}</span>
                    {%endfor%}
                </div>
            {% else %}
                {{ form.username.label(class="form-control-label text-muted") }}
            {% endif %}
        </div>
        <div class="form-label-group">
            {{ form.password(class="form-control form-control-lg") }}
            {% if form.password.errors %}
                {{ form.password.label(class="form-control-label text-muted is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{  error }}</span>
                    {%endfor%}
                </div>
            {% else %}
                {{ form.password.label(class="form-control-label text-muted") }}
            {% endif %}
        </div>
        <small class="text-muted ml-2">
                <a class="ml-2" href="#">Forgot Password?</a>
        </small>
        <div class="form-check pt-3">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div>
        <div class="form-group pt-3">
            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </div>

        <div class="border-top pt-3 text-center">
            <small class=text-muted">
                Don't Have An Account?<a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
            </small>
        </div>

    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>

</form>
{% endblock content %}
